/*CSS*/
body {
background-color: aquamarine;
}

.wrapper {

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.header {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin-right: 15px;

}

.content {

}

.generic {

}

.generic_2 {

}